@model InfoPortal.Common.Models.Article

@{
    ViewData["Title"] = "Content";
}

<h1>Content</h1>

<h3 class="d-inline card-title">@Model.Name</h3>

<p>Topics</p>
<ul>
    <li>@Model.Theme</li>
</ul>

<span>
    My language:
</span>

<span>
    @Model.Language
</span>


<div style="margin-left:20px; margin-right:20px">

    <label>Pictures</label>

    <div id="images" style="margin: auto; width: 100px;">
        @foreach (var file in Model.Files)
        {
            switch (file.Type)
            {
                case "image/png":
                    <img style="margin-bottom:20px" src="data:image/png;base64,@(Convert.ToBase64String(file.Content))" />
                    break;
                case "video/mp4":
                    <video style="margin-bottom:20px" controls src="data:video/mp4;base64,@(Convert.ToBase64String(file.Content))"></video>
                    break;
            }
        }

    </div>

</div>

