@model InfoPortal.Common.Models.Article

@{
    ViewData["Title"] = "Content";
}

<h1>Content</h1>

<h3 class="d-inline card-title">@Model.Name</h3>

<p>Topics</p>

<ul>
    @foreach (var theme in @Model.Themes)
    {
        <li>@theme.Name</li>
    }

</ul>

<span>
    My language:
</span>

<span>
    @Model.Language.Name
</span>


<div style="margin-left:20px; margin-right:20px">

    <label>Pictures</label>

    <div id="content" style=" display: block; margin-left: auto; margin-right: auto; width: 30%;">
        @foreach (var file in Model.Files)
        {
            switch (file.Type)
            {
                case "image/png":
                    <img style="margin-bottom:20px" src="data:image/png;base64,@(Convert.ToBase64String(file.Content))" />
                    break;
                case "video/mp4":
                    <video style="margin-bottom:20px" controls src="data:video/mp4;base64,@(Convert.ToBase64String(file.Content))"></video>
                    break;
            }
        }

    </div>

</div>

