@model IEnumerable<InfoPortal.Common.Models.Theme>

@{
    ViewData["Title"] = "Create";
}

@section Scripts {

    <script>

        let article = {};
        let files = [];
        let selectedTheme = {};

        document.addEventListener('click', function (e) {
            if (e.target && e.target.class == 'DeleteButton') {

                let parent = e.target.parentNode;
                removePicture(parent);
            }
        });

        $(function () {
            $("#buttonNext").click(function () {

                article.Name = $("#Name").val();        
                article.Language = $("#Language").val();

                let formData = new FormData();

                formData.append("Name", article.Name);
                formData.append("ThemeId", selectedTheme.Id);
                formData.append("Language", article.Language);

                for (let x = 0; x < files.length; x++) {
                    formData.append("Files", files[x].file);
                }

                $.ajax({
                    type: "POST",
                    url: "/Article/Add",
                    dataType: 'json',
                    data: formData,
                    processData: false,
                    contentType: false,

                    success: function (response) {

                        if (response.success) {
                            alert(response.responseText);
                            location.href = response.id;
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            $("#addPicture").click(function () {
                $('#file-input-picture').trigger('click');
            });

            $("#addVideo").click(function () {
                $('#file-input-video').trigger('click');
            });

            ///Picture input

            $(document).on('change', '#file-input-picture', function () {

                var selectedFile = $('#file-input-picture').get(0).files[0];

                if (selectedFile.type == "image/png") {

                    let newId = setFileId();

                    let imageDiv = document.createElement("div");
                    imageDiv.className = "img-wrap";
                    imageDiv.id = "image_div" + newId;

                    ///TODO Add class for image div
                    imageDiv.style.marginBottom = '20px';
                    imageDiv.style.display = "block";

                    let deleteImageButton = document.createElement("button");
                    deleteImageButton.innerHTML = "Remove this picture";
                    deleteImageButton.class = "DeleteButton";

                    let newImage = document.createElement("img");
                    newImage.src = URL.createObjectURL(selectedFile);

                    imageDiv.appendChild(newImage);
                    imageDiv.appendChild(deleteImageButton);

                    let content = document.getElementById('content');
                    content.appendChild(imageDiv);

                    files.push(
                        {
                            "id": newId,
                            "file": selectedFile
                        }
                    );

                    document.getElementById("file-input-picture").value = "";
                }

                else {
                    alert("Wrong file format");
                }

            });

            ///Video input

            $(document).on('change', '#file-input-video', function () {

                var selectedFile = $('#file-input-video').get(0).files[0];

                if (selectedFile.type == "video/mp4") {

                    let newId = setFileId();

                    let videoDiv = document.createElement("div");
                    videoDiv.id = "video_div" + newId;
                    videoDiv.style.marginBottom = '20px';

                    let deleteVideoButton = document.createElement("button");
                    deleteVideoButton.innerHTML = "Remove this video";
                    deleteVideoButton.class = "DeleteButton";


                    let newVideo = document.createElement("video");
                    newVideo.src = URL.createObjectURL(selectedFile);
                    newVideo.controls = true;

                    videoDiv.appendChild(newVideo);
                    videoDiv.appendChild(deleteVideoButton);

                    let content = document.getElementById('content');
                    content.appendChild(videoDiv);

                    files.push(
                        {
                            "id": newId,
                            "file": selectedFile
                        }
                    );

                    document.getElementById("file-input-video").value = "";
                }

                else {
                    alert("Wrong file format");
                }

            });

            $(document).on("click", ".addTheme", function (event) {

                let editButton = event.target;

                let themeDiv = document.createElement("div");

                let themeContent = document.createElement("button");
   
                themeContent.style.float = 'left';
                themeContent.className = "btn btn-dark";
                themeContent.style.paddingLeft = '10px';
                themeContent.style.paddingRight = '37px';
                themeContent.style.marginLeft = '5px';
                themeContent.style.marginTop = '5px';
                themeContent.innerHTML = editButton.innerHTML;              
                themeContent.style.borderRadius = '20px';

                let themeDelete= document.createElement("button");
                themeDelete.innerHTML = "X";
                themeDelete.className = "btn btn-dark deleteTheme";
                themeDelete.style.borderRadius = '20px';
                themeDelete.style.marginTop = '5px';
                themeDelete.style.marginLeft = '-35px';            
                themeDelete.style.fontSize = '10px';
                themeDelete.style.height = '38px';


                themeDiv.appendChild(themeContent);
                themeDiv.appendChild(themeDelete);

                let selectedThemeBlock = document.getElementById("selectedTheme");
                selectedThemeBlock.removeAttribute("style")
                selectedThemeBlock.style.borderStyle = 'solid';
                selectedThemeBlock.style.borderWidth = '2px 2px 2px 2px';
                selectedThemeBlock.style.height = '100px';
                selectedThemeBlock.style.width = '95%';
                selectedThemeBlock.style.marginBottom = '20px';
                selectedThemeBlock.style.padding = '0px';

                selectedThemeBlock.innerHTML = "";
                selectedThemeBlock.appendChild(themeDiv);

                selectedTheme.Id = event.target.id;
                selectedTheme.Name = event.target.innerHTML;

                console.log(selectedTheme);
            });


            $(document).on("click", ".deleteTheme", function (event) {
              

                event.target.parentNode.remove();
                selectedTheme = {};

            });

        });


        function setFileId() {

            if (files.length == 0) {
                return 1;
            }

            else {

                let id = Math.max.apply(Math, files.map(
                    function (element) {
                        return element.id;
                    }))

                return ++id;
            }
        }

        function removePicture(parent) {
            let id = parent.id.substr(9)

            console.log(id);
            index = files.findIndex(x => x.id == id);

            console.log(index);
            files.splice(index, 1);

            parent.remove();
            console.log(files);
        }

    </script>
}

<h1>Create</h1>

<div class="dropdown" style="margin-left:20px;  margin-bottom:20px">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select theme
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        @foreach (var theme in Model)
        {
            <button id="@theme.Id" class="dropdown-item addTheme" type="button">@theme.Name</button>
        }
    </div>

    <button type="button" id="buttonNext" style="margin-right:20px" class="d-inline  btn btn-primary float-right">Save article</button>
</div>

<div id="selectedTheme" class="container-fluid" style="        border-style: solid;
        border-width: 2px 2px 2px 2px;
        height: 100px;
        line-height: 80px;
        width: 95%;
        clear: both;
        margin-bottom: 20px;
        text-align: center;">

    <span style="font-size: 20pt;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        color: #808080;">
        Selected themes will be shown here
    </span>
</div>

<input id="file-input-picture" type="file" name="name" style="display: none;" accept="image/x-png,image/gif,image/jpeg" />
<input id="file-input-video" type="file" name="name" style="display: none;" accept="video/mp4, video/ogg, video/webm" />

<div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Name</label>
        <input class="form-control" id="Name" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Language</label>
        <input class="form-control" id="Language" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Content</label>
        <div id="content"
             style=" display: block; margin-left: auto; margin-right: auto; width: 30%;" />
    </div>
</div>

<div style="margin-bottom:60px">
    <button type="button" id="addPicture" class="d-inline btn btn-secondary float-left" style="margin-left:20px">Add picture</button>
    <button type="button" id="addVideo" class="d-inline btn btn-secondary float-left" style="margin-left:20px">Add video</button>
</div>