@model InfoPortal.Common.Models.Article

@{
    ViewData["Title"] = "Create";
}

@section Scripts {

    <script>

        document.addEventListener('click', function (e) {
            if (e.target && e.target.class == 'DeleteButton') {

                let parent = e.target.parentNode;           
                removePicture(parent);
            }
        });

        let article = {};
        let files = [];

        $(function () {
            $("#buttonNext").click(function () {

                article.Name = $("#Name").val();
                article.Theme = $("#Theme").val();
                article.Language = $("#Language").val();

                let formData = new FormData();

                formData.append("Name", article.Name);
                formData.append("Theme", article.Theme);
                formData.append("Language", article.Language);

                for (let x = 0; x < files.length; x++) {
                    formData.append("Files", files[x].file);
                }

                $.ajax({
                    type: "POST",
                    url: "/Article/Add",
                    data: formData,
                    processData: false,
                    contentType: false,

                    success: function (response) {

                        if (response.success) {
                            alert(response.responseText);
                            location.href = response.id;
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            $("#addPicture").click(function () {
                $('#file-input-picture').trigger('click');
            });

            $("#addVideo").click(function () {
                $('#file-input-video').trigger('click');
            });

            ///Picture input

            $(document).on('change', '#file-input-picture', function () {

                let selectedFile = $('#file-input-picture').get(0).files[0];
                let content = document.getElementById('content');
                let newId = setFileId();

                let imageDiv = document.createElement("div");
                imageDiv.id = "image_div" + newId;
                imageDiv.style.marginBottom = '20px';


                let deleteImageButton = document.createElement("button");
                deleteImageButton.innerHTML = "Remove this picture";
                deleteImageButton.class = "DeleteButton";

                console.log(selectedFile);
                
                if (selectedFile.type == "image/png" || selectedFile.type == "" || selectedFile.type == "") {

                    let newImage = document.createElement("img");
                    newImage.src = URL.createObjectURL(selectedFile);

                    console.log(newImage);
                    // newImage.style.display = 'block';

                    imageDiv.appendChild(newImage);
                    imageDiv.appendChild(deleteImageButton);

                    content.appendChild(imageDiv);

                    files.push(
                        {
                            "id": newId,
                            "file": selectedFile
                        }
                    );

                    console.log(files);

                    document.getElementById("file-input-picture").value = "";

                }

                else {
                    alert("Wrong file format");
                }                
            });

            ///Video input

            $(document).on('change', '#file-input-video', function () {

                let selectedFile = $('#file-input-video').get(0).files[0];

                let content = document.getElementById('content');

                let newId = setFileId();

                let videoDiv = document.createElement("div");
                videoDiv.id = "video_div" + newId;
                videoDiv.style.marginBottom = '20px';


                let deleteVideoButton = document.createElement("button");
                deleteVideoButton.innerHTML = "Remove this video";
                deleteVideoButton.class = "DeleteButton";

                let newVideo = document.createElement("video");

                console.log(selectedFile);

                if (selectedFile.type == "video/mp4" || selectedFile.type == "" || selectedFile.type == "") {

                    console.log(selectedFile.type);
                    newVideo.src = URL.createObjectURL(selectedFile);
                    newVideo.controls = true;

                    videoDiv.appendChild(newVideo);
                    videoDiv.appendChild(deleteVideoButton);

                    content.appendChild(videoDiv);

                    files.push(
                        {
                            "id": newId,
                            "file": selectedFile
                        }
                    );

                    console.log(files);
                    document.getElementById("file-input-video").value = "";

                }

                else {
                    alert("Wrong file format");
                }
             
            });

        });


        function setFileId() {

            if (files.length == 0) {
                return 1;
            }

            else {

                let id = Math.max.apply(Math, files.map(
                    function (element) {
                        return element.id;
                    }))

                return ++id;
            }
        }

        function removePicture(parent) {
            let id = parent.id.substr(9)

            console.log(id);
            index = files.findIndex(x => x.id == id);

            console.log(index);
            files.splice(index, 1);

            parent.remove();
            console.log(files);
        }

    </script>
}

<h1>Create</h1>

<div style="margin-bottom:60px">
    <button type="button" id="addPicture" class="d-inline btn btn-secondary float-left" style="margin-left:20px">Add picture</button>
    <button type="button" id="addVideo" class="d-inline btn btn-secondary float-left" style="margin-left:20px">Add video</button>
    <button type="button" id="buttonNext" class="d-inline  btn btn-primary float-right">Save article</button>
</div>

<input id="file-input-picture" type="file" name="name" style="display: none;" accept="image/x-png,image/gif,image/jpeg" />
<input id="file-input-video" type="file" name="name" style="display: none;" accept="video/mp4, video/ogg, video/webm" />

<div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Name</label>
        <input class="form-control" id="Name" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Theme</label>
        <input class="form-control" id="Theme" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Language</label>
        <input class="form-control" id="Language" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Content</label>
        <div id="content"
             style="margin: auto;
        width: 100px;
        padding: 10px;" />
    </div>
</div>