@model InfoPortal.Common.Models.Article

@{
    ViewData["Title"] = "Create";
}

@section Scripts {

    <script>

        let article = {};
        let files = [];

        $(function () {
            $("#buttonNext").click(function () {

                article.Name = $("#Name").val();
                article.Theme = $("#Theme").val();
                article.Language = $("#Language").val();

                let formData = new FormData();

                formData.append("Name", article.Name);
                formData.append("Theme", article.Theme);
                formData.append("Language", article.Language);

                for (let x = 0; x < files.length; x++) {
                    formData.append("Files", files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: "/Article/Add",
                    data: formData,
                    processData: false,
                    contentType: false,

                    success: function (response) {

                        if (response.success) {
                            alert(response.responseText);                         
                            location.href = response.id;
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });

            $("#addPicture").click(function () {
                $('#file-input').trigger('click');
            });           

            $(document).on('change', '#file-input', function () {

                let selectedFile = $('#file-input').get(0).files[0];

                let images = document.getElementById('images');
                let newImage = document.createElement("img");
                newImage.style.display = 'block';
                newImage.style.marginBottom = '20px';

                newImage.src = URL.createObjectURL(selectedFile);
                images.appendChild(newImage);
                files.push(selectedFile);     

                document.getElementById("file-input").value = "";
            });
        });
    </script>
}

<h1>Create</h1>

<div style="margin-bottom:60px">
    <button type="button" id="addPicture" class="d-inline btn btn-secondary float-left" style="margin-left:20px">Add picture</button>
    <button type="button" id="buttonNext" class="d-inline  btn btn-primary float-right">Save article</button>
</div>

<input id="file-input" type="file" name="name" style="display: none;" />

<div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Name</label>
        <input class="form-control" id="Name" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Theme</label>
        <input class="form-control" id="Theme" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Language</label>
        <input class="form-control" id="Language" />
    </div>
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label>Pictures</label>
        <div id="images" 
        style="margin: auto;
        width: 100px; 
        padding: 10px;"/>
    </div>
</div>