
@{
    ViewData["Title"] = "Article";
}

<h3 class="d-inline card-title">Article name</h3>

<button type="button" class="d-inline  btn btn-danger float-right">Delete</button>
<button type="button" class="d-inline  btn btn-warning float-right">Edit</button>

<p>Topics</p>
<ul>
    <li>Im Topic</li>
    <li>And im Topic</li>
</ul>

<p>
    I am article details. In future i could be updated and deleted.
</p>

<img class="card-img-top" src="..." alt="Some awesome picture could be here">