@{
    ViewData["Title"] = "Article";
}

@section Scripts {
    <script>

        let mode = 'edit';

        //TODO MayB change that
        $(document).ready(function () {

            $("#modeButton").click(function () {
                changePage();
            });

            function changePage() {
               
                if (mode == 'content') {                  
                    mode = 'edit';
                    $("#modeButton").html('View');
                    $("#div1").load("@Url.Action("Update", "Article", new { id = @ViewBag.Id })");
                }

                else if (mode == 'edit') {                
                    mode = 'content';
                    $("#modeButton").html('Edit');
                    $("#div1").load("@Url.Action("Content", "Article", new { id = @ViewBag.Id })");
                }
            }

            changePage();

        });

     
    </script>
}

<button type="button" class="d-inline  btn btn-danger float-right">Delete</button>
<button type="button" id="modeButton" class="d-inline  btn btn-warning float-right">Edit</button>

<div id="div1"></div>
