@model InfoPortal.Common.Models.User

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<form asp-action="Update" asp-route-id=@Model.Id class="addContentForm">
    <!--STYLE-->
    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label asp-for="Login">Login</label>
        <input asp-for="Login" type="text" class="form-control" id="Login" />
    </div>

    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="text" class="form-control" id="Email" />
    </div>

    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="text" class="form-control" id="Password" />
    </div>

    <div class="form-group" style="margin-left:20px; margin-right:20px">
        <p class="form-group">
            Role <br />
            @Html.DropDownListFor(model => model.RoleId, ViewBag.Roles as SelectList)
        </p>
    </div>



    <button type="submit" value="Update" style="margin-left:20px" ; class="btn btn-primary">Save</button>
</form>