
@{
    ViewData["Title"] = "Index";
}

<h1>Info Portal</h1>

<h2>List of articles</h2>

<div class="card" style="width: 40rem;">
    <div>
        <span class="float-left">17/10/2020 20:12</span>
        <span class="float-right">Eng</span>
    </div>
          
    <div class="card-body">
        <h5 class="card-title">Article name</h5>
        <p>Topics</p>
        <ul>
            <li>Im Topic</li>
            <li>And im Topic</li>
        </ul>
        <img class="card-img-top" src="..." alt="Some awesome picture could be here">
        <a href="#" class="d-block btn btn-primary">Show details</a>
    </div>
</div>

<div class="card" style="width: 40rem;">
    <div>
        <span class="float-left">17/10/2020 20:12</span>
        <span class="float-right">Eng</span>
    </div>

    <div class="card-body">
        <h5 class="card-title">Article name</h5>
        <p>Topics</p>
        <ul>
            <li>Im Topic</li>
            <li>And im Topic</li>
        </ul>
        <img class="card-img-top" src="..." alt="Some awesome picture could be here">
        <a href="#" class="d-block btn btn-primary">Show details</a>
    </div>
</div>

<div class="card" style="width: 40rem;">
    <div>
        <span class="float-left">17/10/2020 20:12</span>
        <span class="float-right">Eng</span>
    </div>

    <div class="card-body">
        <h5 class="card-title">Article name</h5>
        <p>Topics</p>
        <ul>
            <li>Im Topic</li>
            <li>And im Topic</li>
        </ul>
        <img class="card-img-top" src="..." alt="Some awesome picture could be here">
        <a href="#" class="d-block btn btn-primary">Show details</a>
    </div>
</div>