body {
    height: 100vh;
    width: 100vw;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

video {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}